# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Builds
*.tgz
dist
lib

# Dependency directories
node_modules

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# ESLint cache
.eslintcache

# Temporary
.cache
temp/
*.draft*
*.old*

# OS
.DS_Store
thumbs.db
